*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.banner{
   background: url('asset/Banner.jpg');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}
.vh-50{
  height: 50vh;

}